.dm-landing-page-container {
  ::selection {
    color: #2a76d2;
    background: rgba(38, 43, 255, 0.05);
  }

  /** -- Main content -- **/
  .main-content {
    .left-side {
      width: 700px;
      height: 720px;
      background-size: 750px;
      background-position: center;
      background-repeat: no-repeat;

      .over-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background-image: radial-gradient(
          rgba(25, 118, 210, 1),
          rgba(13, 59, 105, 1)
        );
      }
      .logo svg {
        width: 250px;
      }
    }

    .right-side {
      &__dm-icon {
        background-color: #eeeded;
        width: 70px;
        height: 70px;
        border: 1px solid #d4d4d4;
        color: #2a76d2;
      }

      button {
        font-weight: 600;
      }

      .signup {
        background-color: #2a76d2;
        color: #fff;
        border: 1px solid #2a76d2;

        &.mat-mdc-raised-button[disabled][disabled] {
          background-color: rgba(0, 0, 0, 0.12);
          color: rgba(0, 0, 0, 0.38);
          border: 1px solid transparent;
        }
      }

      .cancel {
        border: 1px solid #2a76d2;
        color: #2a76d2;
      }

      .dm-header {
        &__title {
          color: #484848;
        }
        &__subtitle {
          color: #a7a7a7;
        }
      }

      .form-icon {
        color: #cacaca;
      }

      .dm-password-feedback-box {
        display: flex;
        gap: 1rem;
        border: 1px solid #f44336;
        background-color: hsla(4 90% 96% / 100%);
        border-radius: 0.25rem;
        padding: 0.5rem 0.5rem;

        &__icon {
          display: flex;
          align-items: start;
        }
      }
    }
  }
}
