.boat-create {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 40px;
  margin-block-start: 40px;
  margin-inline: auto;
  max-width: 720px;

  h1 {
    font-size: 35px;
  }

  .btn-create {
    background-color: #2a76d2;
    color: #fff;
    border: 1px solid #2a76d2;
  }

  .btn-cancel {
    color: #808080;
  }
}
