.container {
  max-width: 1200px;
  margin: 0 auto;
  -height: calc(100vh - 64px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-field {
    width: 100%;
    margin-bottom: 10px;
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 20px;

  button {
    margin-left: 10px;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}
