<div class="flex flex-col gap-6 p-4">
  <div class="flex items-center justify-center gap-4 dm-detail-modal">
    <div
      class="flex flex-col items-center justify-center p-2 rounded-full dm-detail-modal__sailing-icon"
    >
      <mat-icon>sailing</mat-icon>
    </div>
    <div class="flex-1 text-lg font-medium">Boat details</div>
    <button mat-icon-button (click)="onClose()">
      <mat-icon class="btn-close">close</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4 rounded p-4 capacity sm:flex-row">
      <div class="flex-1 flex flex-col gap-2 rounded p-2 capacity__engine">
        <div class="flex items-center gap-2 label">
          <mat-icon>network_check</mat-icon>
          Engine type
        </div>
        <div class="value">{{ data.engineType }}</div>
      </div>
      <div class="flex-1 flex flex-col gap-2 rounded p-2 capacity__fuel">
        <div class="flex items-center gap-2 label">
          <mat-icon>local_gas_station</mat-icon>
          Fuel capacity
        </div>
        <div class="value">{{ data.fuelCapacity }}</div>
      </div>
      <div class="flex-1 flex flex-col gap-2 rounded p-2 capacity__water">
        <div class="flex items-center gap-2 label">
          <mat-icon>water_drop</mat-icon>
          Water capacity
        </div>
        <div class="value">{{ data.waterCapacity }}</div>
      </div>
    </div>

    <div class="rounded p-2 dm-detail-content">
      <div class="label">Name</div>
      <div class="value">{{ data.name }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="rounded p-2 dm-detail-content">
      <div class="label">Brand</div>
      <div class="value">{{ data.brand }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="rounded p-2 dm-detail-content">
      <div class="label">Description</div>
      <div class="value">{{ data.description }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-col gap-2 p-2 rounded dm-detail-content">
      <div class="flex">
        <div class="flex-1 label">Type</div>
        <div class="value">{{ data.type }}</div>
      </div>
      <div class="flex">
        <div class="flex-1 label">Length</div>
        <div class="value">{{ data.length }}</div>
      </div>
      <div class="flex">
        <div class="flex-1 label">Year</div>
        <div class="value">{{ data.year }}</div>
      </div>
    </div>
    <div></div>
  </div>
  <div mat-dialog-actions class="flex justify-end">
    <button mat-stroked-button class="btn-cancel" (click)="onClose()">
      Close
    </button>
  </div>
</div>
